body {
  margin: 0;

  div#root {
    background-color: #f5f5f5;
    color: #222222;
    height: 100%;
  }

  .paper{
    padding: 16px;
  }
}

head, header, span, div, h1, h2, h3, h4, h5 {
  font-family: Helvetica, "Trebuchet MS", sans-serif, serif;
}

html, body{
  //height: 100%;
}